*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

node_modules/
/wp-content/themes/Portfolio/assets/images/*.png
/wp-content/themes/Portfolio/assets/images/*.jpg
/wp-content/themes/Portfolio/assets/images/*.gif
/wp-content/themes/Portfolio/assets/images/*.svg
/wp-content/themes/Portfolio/assets/scripts/*.js
/wp-content/themes/Portfolio/assets/styles/*.css

\.DS_Store
.env
docker/mysql/data/*.sql

/vendor/