.block__content {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    article {
        position: absolute;
        margin-bottom: 4rem !important;
        transition: transform .3s;
        width: 482px;
        height: 460px;
        &:hover {
            transform: translateY(-.5rem) scale(1);
        }
    }
    .column:nth-child(2n) {
        transform : translateY(7.5rem);
        &:hover {
            transform : translateY(7rem);
        }
        @include respond(phone) {
            transform : none;
        }
    }
    .card {
        height: 100%;
        box-shadow: 0 10px 40px 0 rgba(0,0,0,.35);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        border-radius: .25rem;
        width: 48%;
        margin: 0;
        &.has-image{
            position: relative;
            background-size: cover;
            background-position: center;
            overflow: hidden;
        }
        @include respond(phone) {
            width: 100%;
        }
        .cover-image {
            background-position: center;
            background-size: cover;
            height: 30rem;
    }
    .cover-body {
        position: absolute;
        bottom: 0;
        padding: 1rem 2rem;
        width: 100%;
        background-color: #2a2c339c;
        .heading-tertiary {
            font-size: 2rem;
            color: $color-white;
            letter-spacing: 0.2rem;
            font-weight: 600;
            margin-bottom: 0.5rem;
            line-height: 1.1;
        }
        .paragraph {
            color: $color-white;
            font-size: 1.3rem;
            letter-spacing: 0.2rem;
            margin-bottom: 0.5rem;
        }
    }
    }
}
