.composition {
    position: relative;
    width: 320px;
    height: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    &__photo {
        width: 100%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: 2px;
        z-index: 10;
        transition: all .2s;

        @include respond(tab-port) {
            position: relative;
            width: 100%;
            box-shadow: 0 1.5rem 3rem rgba($color-black, .2);
        }

        &--p1 {
            left: 0;
        }

        &:hover {
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
            z-index: 20;
        }

    }

}